{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    body {
        margin: 0; 
    }
    .wrapper { display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 10px; grid-auto-rows: minmax(100px, auto);}
    .left-box { background: #303030; display: flex; justify-content: flex-end; align-items: flex-end; }
    .wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="wrapper">
<div class="left-box">

</div>
</div>
{% endblock %}
